server {
    listen 80;
    server_name storybook-${TUGBOAT_DEFAULT_SERVICE_ID}.tugboatqa.com;

    root ${DOCROOT}/storybook;
    index index.html;

    location /storybook {
        try_files $uri $uri/ =404;
    }
}
